footer {
	padding: 100px 0;
	background-color: #23415B;//#fff;
	padding-bottom: 0px;
	position: absolute;   
    width: 100%;
}
.container p{
	color: #c9c6c6;
}
footer li a {
	display: inline-block;
	padding: 5px 0;
	display: inline-block;
	width: 100%;
}
footer li a:hover {
	color: #28acbf;
}
footer .links ul {
	float: left;
	width: 50%;
}
.sub-c span {
	font-size: 10px;
	color: #8a8a8a;
}
.sub-c h4 {
	font-size: 18px;
	margin: 0px;
	margin-bottom: 10px;
	color: #c9c6c6;//#343538;
	font-weight: 400;
	line-height: 24px;
	padding-right: 40px;
}
.sub-c input {
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	border: 2px solid #f3f3f3;
	height: 50px;
	line-height: 50px;
}
.sub-c button {
	background: #f3f3f3;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 50px;
	line-height: 50px;
	color: #444444;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 20px;
}
.sub-c form {
	position: relative;
	margin: 20px 0;
    margin-bottom: 30px;
}
footer .sub-c {
	margin-bottom: 30px;
}
footer .links {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	color: #28acbf;
	background: #f3f3f3;
	text-align: center;
}
.social a:hover {
	color: #fff;
	background: #28acbf;
}