<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sub-c">
          <h4>Siguenos en nuestras redes sociales</h4>
          <div class="social"> 
            <a href="#."><i class="fa fa-facebook"></i></a> 
            <a href="#."><i class="fa fa-twitter"></i></a> 
            <a href="#."><i class="fa fa-youtube"></i></a> 
            <a href="#."><i class="fa fa-linkedin"></i></a> 
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="links">
          <!--
          <ul>
						<li><a>Contactanos a: correo@ucn.cl</a></li>
            <li><a>Dirección: Av. Angamos #0610, Antofagasta, Chile</a></li>
          </ul>
          <p>Contactanos a: correo@ucn.cl</p>
          <p>Dirección: Av. Angamos #0610, Antofagasta, Chile</p>
          -->
        </div>
      </div>
    </div>
  </div>
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright 2018</p>
        </div>
        <div class="col-md-6 col-xs-12" style="float:right">
          <p>Desarrollado por
          <a href="https://www.otara.cl">OTARA SPA</a></p>
				</div>
      <!--  <div class="col-md-10">
          <div class="row">
            Se debe cambiar para logo otara
						<div class="col-md-6"> <img class="margin-top-10" src="assets/img/Bitmap.png" alt="icon"> </div>
						
          </div>
        </div> -->
      </div>
    </div>
  </div>
</footer>