<app-navbar></app-navbar>
<div class="informacion">
  <div class="image"></div>
  <div class="layer"></div>
  <div class="section-header">

    <h2>
      Información
    </h2>
  </div>
  <div class="container top">

    <div class="services-widget row">
     <!-- <div class="col-sm-12 col-md-2 icon widget-icon">
        <i class="fa fa-globe fa-size" style="color: #039BE5" aria-hidden="true"></i>
      </div>-->
      <div class=" col-sm-12 col-md-12 misionInfo">
        <h2 class="textTItle">
          Lorem
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel auctor neque. Nunc ut ullamcorper 
          eros. Curabitur dapibus, risus sed dapibus porta, purus libero malesuada urna, at imperdiet est 
          lorem sed tortor. 
        </p>
        <p>
          Nam euismod bibendum enim, eget aliquet nunc aliquet nec. Donec ac felis lacinia, dictum purus vel, 
          feugiat metus. Mauris mauris arcu, accumsan at ultricies id, egestas ac ex.
        </p>
        <p>
          Aliquam dolor diam, vulputate sit amet ligula ac, eleifend consectetur elit. Cras mattis posuere 
          lorem, elementum iaculis massa pulvinar vitae. Morbi et sapien risus. Sed pellentesque mi vitae 
          lacus interdum, eleifend vestibulum dolor auctor.
        </p>
      </div>
    </div>
    <div class="services-widget row">
    <!--  <div class="col-sm-12 col-md-2 icon widget-icon">
        <i class="fa fa-eye fa-size" style="color: #43A047" aria-hidden="true"></i>
      </div>-->
      <div class="col-sm-12 col-md-12 misionInfo">
        <h2 class="textTItle">
          Lorem
        </h2>
        <p>
          Donec id erat elementum sapien convallis malesuada. Mauris lobortis tempus porttitor. 
          Pellentesque felis dolor, fermentum non tincidunt sit amet, consectetur sit amet justo.
        </p>
        <p>
          Aenean consequat leo non felis tempor, vitae lobortis enim sodales. Mauris faucibus vestibulum 
          massa consequat ultricies. Cras eget felis a libero eleifend tempus. Morbi id magna quam. Cras 
          porta viverra arcu vel molestie.
        </p>
      </div>
    </div>
    <div class="services-widget row">
    <!--  <div class="col-sm-12 col-md-2 icon widget-icon">
        <i class="fa fa-handshake-o fa-size" style="color: #e53935" aria-hidden="true"></i>
      </div> -->
      <div class="col-sm-12 col-md-12 misionInfo">
        <h2 class="textTItle">
          Lorem
        </h2>
        <ul class="listado">
          <li>Sed lacinia id magna non placerat.</li>
          <li>Maecenas dignissim vel est tincidunt elementum.</li>
          <li>Phasellus sodales quam nec augue euismod sollicitudin.</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>