<div class="body-blur">
  <div class="section-header">
    <h2>
      Editar Producto
    </h2>
  </div>
  <div class="container">
    <form [formGroup]="form">
      <input #titulo formControlName="titulo" placeholder="Nombre Producto" type="text">
      <td></td>
      <div class="alert alert-danger" [hidden]="!alertaTitulo"> Ingrese Nombre Producto </div>
      <input #precio formControlName="precio" placeholder="Precio" type="text">
      <div class="alert alert-danger" [hidden]="!alertaPrecio"> Ingrese Precio </div>
      <app-tinymce #editor formControlName="editor"></app-tinymce>
      <div class="alert alert-danger" [hidden]="!alertaNoticia"> Ingrese una Descripción </div>
    </form>
    <button class="button" (click)="goBack()">Atras</button>
    <button class="button" type="button" (click)="patchValue()">Guardar Cambios</button>
  </div>
</div>