<app-navbar></app-navbar>
<section>
<div class="body-blur" [hidden]="!showText"> 
<!--<div class="body-blur">-->
  <div class="section-header">
    <h2>
      Panel de control
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12 text-center"></div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <button class="button" (click)="CreatePost()"><span>Ingresar Producto</span></button>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <button class="button" (click)="EditPost()"><span>Editar Producto</span></button>
      </div>
      <div class="col-md-3 col-xs-12 text-center"></div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
</section>
<app-footer></app-footer>
